@mixin addbuttonmobile($bg) {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;

  background-color: $bg;
}

@mixin addiconmobile($bg) {
  color: $bg;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 48px;
}

.addbuttonmobile-light {
  @include addbuttonmobile($bg: $bg2light);
  border: 2px solid $bglight;
}

.addiconmobile-light {
  @include addiconmobile($bg: $bglight);
}

.addbuttonmobile-active-light {
  background-color: $buttonactivelight;
}

.addiconmobile-active-light {
  color: $iconactivelight;
}
