@mixin nav-cont($bg, $txt) {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 999;

  background-color: $bg;
  color: $txt;

  @media (min-width: $tablet) {
    display: none;
  }

  @media only screen and (max-height: $maxphonewidth) and (orientation: landscape) {
    display: flex;
  }
}

.navmobile-cont-light {
  @include nav-cont($bg: $bg2light, $txt: $txtlight);
  bottom: 0;
}
