@mixin addbuttondesktop($bg) {
  width: 70px;
  height: 70px;
  display: none;
  border: none;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  z-index: 999;
  transition: opacity 0.4s;

  background-color: $bg;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
  }

  @media only screen and (max-height: $maxphonewidth) and (orientation: landscape) {
    display: none;
  }
}

@mixin addicondesktop($bg) {
  color: $bg;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.addbuttondesktop-light {
  @include addbuttondesktop($bg: $bg2light);
}

.addicondesktop-light {
  @include addicondesktop($bg: $bglight);
}

.addbuttondesktop-active-light {
  @include addbuttondesktop($bg: $buttonactivelight);
  box-shadow: inset 10px 10px 20px #0d1f34, inset -10px -10px 20px #275b96;
}

.addicondesktop-active-light {
  @include addicondesktop($bg: $iconactivelight);
}
