@mixin addbuttondesktop($bg) {
  width: 60px;
  height: 60px;
  display: none;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  z-index: 999;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: $bg;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
  }

  @media only screen and (max-height: $maxphonewidth) and (orientation: landscape) {
    display: none;
  }
}

@mixin addicondesktop($bg) {
  color: $bg;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.addbuttondesktop-light {
  @include addbuttondesktop($bg: $bg2light);
}

.addicondesktop-light {
  @include addicondesktop($bg: $bglight);
}

.addbuttondesktop-active-light {
  background-color: $buttonactivelight;
}

.addicondesktop-active-light {
  color: $iconactivelight;
}
