@mixin navbar-cont($bg, $txt) {
  width: 100px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 6px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
  overflow-y: scroll;
  transition: opacity 0.4s;

  background-color: $bg;
  color: $txt;

  @media (max-width: $tablet) {
    display: none;
  }

  @media only screen and (max-height: $maxphonewidth) and (orientation: landscape) {
    display: none;
  }
}

.navbar-cont-light {
  @include navbar-cont($bg: $bg2light, $txt: $txtlight);
}
