@import './variables/general.scss';
@import './components/desktop/navbar.scss';
@import './components/mobile/navbar.scss';
@import './components/shared/navbarbutton.scss';
@import './components/mobile/addbutton.scss';
@import './components/desktop/addbutton.scss';
@import './components//shared//layout.scss';

@mixin container($bg, $txt) {
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  place-items: center flex-start;

  background-color: $bg;
  color: $txt;

  @media (min-width: $tablet) {
    width: calc(100vw - 150px);
    height: 100vh;
    margin-left: 150px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $bglight;
}

* {
  box-sizing: border-box;
}

.container-light {
  @include container($bg: $bglight, $txt: $txtlight);
}
