@import './variables/general.scss';
@import './components/desktop/navbar.scss';
@import './components/mobile/navbar.scss';
@import './components//shared//button.scss';

@mixin container($bg, $txt) {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center flex-start;

  background-color: $bg;
  color: $txt;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container-light {
  @include container($bg: $bglight, $txt: $txtlight);
}

.button-active-light {
  background-color: $buttonactivelight;
}

.icon-active-light {
  color: $iconactivelight;
}
