@import './variables/general.scss';
@import './components/desktop/navbar.scss';
@import './components/mobile/navbar.scss';
@import './components/shared/navbarbutton.scss';
@import './components/mobile/addbutton.scss';
@import './components/desktop/addbutton.scss';
@import './components/shared/layout.scss';
@import './components/pages/home.scss';
@import './components/shared/todo.scss';
@import './components/shared/calendar.scss';

@mixin container($bg, $txt) {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  place-items: center flex-start;
  padding: 25px 25px 0;

  background-color: $bg;
  color: $txt;

  @media (min-width: $tablet) {
    width: calc(100vw - 150px);
    height: 100vh;
    margin-left: 150px;
  }

  @media only screen and (max-height: $maxphonewidth) and (orientation: landscape) {
    width: 100vw;
    height: calc(100vh - 200px);
    margin: 0;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $bglight;
  position: relative;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container-light {
  @include container($bg: $bglight, $txt: $txtlight);
}
