@mixin button-cont($bg) {
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $bg;

  @media (max-width: $tablet) {
    height: 75px;
  }

  @media (min-width: $tablet) {
    height: 180px;
  }
}

@mixin icon-cont($bg) {
  color: $bg;
  width: 50%;
  height: 100px;
}

.button-cont-light {
  @include button-cont($bg: $bg2light);
}

.icon-cont-light {
  @include icon-cont($bg: $bglight);
}
