.createtaskcont {
  position: fixed;
  width: 70%;
  min-width: 300px;
  max-width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1100;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 50px 1fr;
  box-shadow: inset 35px 35px 54px #224f84, inset -35px -35px 54px #3c8dec,
    10px 10px 10px rgba(0, 0, 0, 0.25);

  background-color: $bg2light;

  @media (min-width: $tablet) {
    height: 450px;
  }
}

.createtaskheader {
  width: calc(100% - 10px);
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  column-gap: 5px;
  margin-top: 5px;
}

@mixin createtasktab($bg, $txtclr, $cursor) {
  border: 0px solid $bglight;
  height: 100%;
  border-bottom: 0;
  cursor: $cursor;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  padding: 0;
  margin: 0;

  background: $bg;
  color: $txtclr;
}

.createtasktab-active {
  @include createtasktab(
    $bg: $buttonactivelight,
    $txtclr: $iconactivelight,
    $cursor: auto
  );
}

.createtasktab-inactive {
  @include createtasktab($bg: transparent, $txtclr: $bglight, $cursor: pointer);
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.exitbutton {
  border: 0;
  background-color: transparent;
  color: $bglight;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.7;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.createtask-content {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;

  @media (min-width: $tablet) {
    padding: 25px 50px;
  }
}

.createtaskform {
  width: calc(100% - 10px);
  align-self: center;
  max-height: 400px;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  color: $bglight;
  position: relative;

  @media (min-width: $tablet) {
    max-height: 350px;
  }
}

.createtaskrow {
  width: 100%;
  display: flex;
  flex-direction: column;
}
h4 {
  margin: 0;
  font-weight: 400;
}

.createtaskinput {
  font-size: 1rem;
  width: calc(100% - 10px);
}

.createtaskgroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 10px);
  justify-items: center;
  align-items: center;
}

.createtasklabel {
  margin-right: 10px;
}

.createtaskdatetime {
  display: grid;
  width: calc(100% - 10px);
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.createtaskimportant {
  justify-self: center;
}

.createtaskbutton {
  width: 150px;
  height: 40px;
}

// React Date Time Picker

.react-date-picker__wrapper,
.react-time-picker__wrapper {
  border: 1px solid $bglight !important;
  border-radius: 5px;
  padding: 10px;
}

.react-date-picker__inputGroup__year,
.react-date-picker__inputGroup__month,
.react-date-picker__inputGroup__day,
.react-time-picker__inputGroup__year,
.react-time-picker__inputGroup__hour,
.react-time-picker__inputGroup__minute,
.react-time-picker__inputGroup__second,
.react-time-picker__inputGroup__amPm {
  color: $bglight;
}

.react-time-picker__inputGroup__amPm option {
  color: black;
}

.react-date-picker__button svg,
.react-time-picker__button svg {
  stroke: $bglight !important;
}

.react-date-picker__button:enabled:hover .react-date-picker__clear-button__icon,
.react-time-picker__button:enabled:hover
  .react-time-picker__clear-button__icon {
  stroke: rgba(255, 0, 0, 0.7) !important;
}

.react-date-picker__button:enabled:focus .react-date-picker__button__icon,
.react-time-picker__button:enabled:focus .react-time-picker__button__icon {
  stroke: $bglight !important;
}

.react-date-picker__calendar-button:enabled:hover
  .react-date-picker__button__icon,
.react-time-picker__clock-button:enabled:hover
  .react-time-picker__button__icon {
  stroke: rgba(0, 255, 0, 0.7) !important;
}

.react-date-picker__calendar-button:enabled:focus
  .react-date-picker__button__icon,
.react-time-picker__calendar-button:enabled:focus
  .react-time-picker__button__icon {
  stroke: $bglight !important;
}

.react-calendar {
  color: black;
}

.react-calendar button {
  border-radius: 0 !important;
}

.react-date-picker__inputGroup__input:invalid,
.react-time-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.4) !important;
}
