@mixin loadingcont($bg) {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  place-items: center;

  background-color: $bg;
}

.loadingcont-light {
  @include loadingcont($bg: $bglight);
}
