@mixin logincontainer($bg, $txt) {
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center flex-start;
  padding: 25px;
  overflow-y: scroll;

  background-color: $bg;
  color: $txt;
}

.logincontainer-light {
  @include logincontainer($bg: $bglight, $txt: $txtlight);
}

.login {
  width: auto;
  height: auto;
  display: grid;
  place-items: center center;
  grid-template-rows: 100px auto;
}

.inputcont {
  display: flex;
  flex-direction: column;
}
