.todosummaryheader {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.todosummarycontent {
  height: 100%;
  margin-bottom: 5px;
  padding: 5px;
  color: $bglight;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.todosummarytitle {
  line-height: 1.1em;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.todosummarysub {
  margin: 0;
}

.todosummarydates {
  display: flex;
  flex-direction: column;
}
