.todosummaryheader {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.todosummarycontent {
  height: 100%;
  margin-bottom: 5px;
  color: $bglight;
}
