.todosummaryheader {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.todosummarycontent {
  height: 100%;
  margin-bottom: 5px;
  padding: 5px;
  color: $bglight;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  text-align: left;
}

.todosummarytitle {
  line-height: 1.1em;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.todosummarysub {
  margin: 0;
  width: 100%;
}

.todosummaryjournal {
  width: 90%;
  height: 150px;
  overflow: scroll;
  white-space: pre-wrap;
}

.todosummarydates {
  display: flex;
  flex-direction: column;
  width: 100%;
}
