@import './general.scss';

:export {
  bgLight: $bglight;
  bg2Light: $bg2light;
  iconActiveLight: $iconactivelight;
  buttonActiveLight: $buttonactivelight;
  successLight: $successlight;
  successHover: $successhover;
  dangerLight: $dangerlight;
  dangerHover: $dangerhover;
}
