$bgcolorlight: #FEF4D4;
// $bgcolordark: #1a2e30;
$txtcolorlight: #051A1F;
// $txtcolordark: #FFFFFF;
$buttoncolorlight: #FFBF1A;
// $buttoncolordark: rgb(189, 91, 0);
$buttontxtlight: #051A1F;
// $buttontxtdark: #FFF;