//Colours
$bgcolorlight: #fef4d4;
$txtcolorlight: #051a1f;
$buttoncolorlight: #ffbf1a;
$buttontxtlight: #051a1f;
$strongcolorlight: #1f8fe0;

//Breakpoints
$mobilelarge: 600px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
