//Light colors
//Main background
$bglight: #fef4d4;
//Secondary background
$bg2light: #2f6eb8;
//Dark text on light background
$txtlight: #051a1f;
//Strong on bg2
$iconactivelight: #ffbf1a;
$buttonactivelight: #1a3d65;
$btnlight: #051a1f;

//Breakpoints
$mobilelarge: 600px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
