@mixin homecont($bg, $color) {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    'header'
    'main'
    'main';
  grid-row-gap: 25px;
  place-items: flex-start center;
}

.homecont-light {
  @include homecont($bg: $bg2light, $color: $txtlight);
}
