.homecont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
  row-gap: 25px;
  place-items: flex-start center;

  @media (min-width: $tablet) {
    height: auto;
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 25px;
  column-gap: 25px;
  place-items: flex-start center;
  padding-bottom: 95px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 0;
  }
}

@mixin contentcont($shadowdark, $shadowlight) {
  width: 100%;
  display: grid;
  border-radius: 25px;
  box-shadow: inset 7px 7px 19px $shadowdark, inset -7px -7px 19px $shadowlight;
  padding: 20px;
  position: relative;
}

.calendarcont-light {
  @include contentcont(
    $shadowdark: $homecontentshadowdark,
    $shadowlight: $homecontentshadowlight
  );
}

.todocont-light {
  @include contentcont(
    $shadowdark: $homecontentshadowdark,
    $shadowlight: $homecontentshadowlight
  );
}

.todotaskcont {
  display: grid;
  place-items: center;
  grid-template-columns: 30px 1fr 30px 30px;
  column-gap: 10px;
  height: 50px;
  padding: 0 10px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.2s;
  border-radius: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@mixin todotaskicon($color) {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;

  color: $color;
}

.todotaskicon-light-basic {
  @include todotaskicon($color: $txtlight);
}

.todotaskicon-light-important {
  @include todotaskicon($color: $iconactivelight);
}

.todotasktitle {
  font-family: $sansserif;
  font-weight: 400;
  font-size: 1em;
  justify-self: start;
  align-self: center;
  margin: 0;
  word-break: break-word;
}

.todotaskcheckbox {
  width: 50%;
  justify-self: end;
  align-self: center;
}

.homecontgreeting {
  line-height: 1em;
  margin: 0;
}

.notaskscont {
  display: grid;
  place-items: center center;
  text-align: center;
  height: 100px;
}

.todotaskicondelete,
.todotaskiconcomplete {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s;
}

.todotaskiconcomplete {
  color: $successlight;

  &:hover {
    color: $successhover;
  }
}

.todotaskicondelete {
  color: $dangerlight;

  &:hover {
    color: $dangerhover;
  }
}
