.homecont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
  row-gap: 25px;
  place-items: flex-start center;

  @media (min-width: $tablet) {
    height: auto;
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 25px;
  column-gap: 25px;
  place-items: flex-start center;
  padding-bottom: 95px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 0;
  }
}

@mixin contentcont($shadowdark, $shadowlight) {
  width: 100%;
  max-width: $containermaxwidth;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: inset 7px 7px 19px $shadowdark, inset -7px -7px 19px $shadowlight;
  padding: 20px;
}

.calendarcont-light {
  @include contentcont(
    $shadowdark: $homecontentshadowdark,
    $shadowlight: $homecontentshadowlight
  );
}

.todocont-light {
  @include contentcont(
    $shadowdark: $homecontentshadowdark,
    $shadowlight: $homecontentshadowlight
  );
}

.todotaskcont {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 20px;
}

@mixin todotaskicon($color) {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  align-self: center;

  color: $color;
}

.todotaskicon-light {
  @include todotaskicon($color: $iconactivelight);
}

.todotasktitle {
  font-family: $sansserif;
  font-weight: 400;
  font-size: 1em;
  justify-self: start;
  align-self: center;
  line-height: 2em;
  margin-right: 10px;
}

.todotaskcheckbox {
  width: 100%;
  justify-self: end;
  align-self: center;
}

.homecontgreeting {
  line-height: 1em;
  margin: 0;
}

.notaskscont {
  text-align: center;
}
